/* RESET + LINK STYLES */
body {
  margin: 0;
}

a:link { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }
a:hover { text-decoration: underline; color: black; }
a:visited { color: black; }
a img { border: none; }

a.pagelink:link { text-decoration: underline; color: black; }
a.pagelink:active { text-decoration: none; color: black; }
a.pagelink:hover { text-decoration: none; color: black; }
a.pagelink:visited { color: black; }

/* TEXT SELECTION */
::selection { color: black; background: black; }
::-moz-selection { color: black; background: black; }

/* MAIN CONTAINER */
.conteneur {
  width: 100%;
  position: relative;
}

.conteneur div.scrollableArea img {
  position: relative;
  float: left;
  margin: 30px;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* SCROLLABLE WRAPPER */
div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}

/* INFO BOX */
.info {     
  position: fixed;
  width: 250px;
  height: 10px;
  padding-top: 7px;
  color: black;
  top: 0px;
  left: 10px;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: left;
}

/* MODERN, RESPONSIVE MENU */
.menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 595px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  opacity: 0.95;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

/* Menu Text Styling */
.menu h1 {
  color: black;
  text-align: left;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}

.menu p {
  color: black;
  text-align: left;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
}

/* Show menu when active (toggle with JS) */
.menu.active {
  display: block;
}

/* MOBILE RESPONSIVE ADJUSTMENTS */
@media (max-width: 600px) {
  .menu {
    width: 95%;
    max-height: 90vh;
    padding: 15px;
    font-size: 16px;
  }

  .info {
    font-size: 16px;
    width: 200px;
  }

  .conteneur div.scrollableArea img {
    margin: 10px;
  }
}

/* PAGE SCROLLABILITY ON MOBILE */
html, body {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* OVERLAY BACKGROUND (optional, for dimming behind menu) */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998;
}

.overlay.active {
  display: block;
}